#mycode { 
    position: absolute;
    top: 10rem;
    right: 10rem;
    bottom: 10rem;
    left: 10rem;
}
body {
    background-color: #383A59;
}
h1 {
    color: #BD93F9;
    text-align: center;
}
pre {
    color: #BD93F9;
}
button {
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
    cursor:pointer;
  }

.button-screen-div {
    text-align: center;  

}
.button-screen {
    background-color: #48D06D;
}

