@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
:root {
    --text-color: #000000;
    --bkg-color: #fff;
    --nav-color: #fff;
    --backgroundTop-color: #4C3AD8;
    --top-text-color: #fff;
    --parameter-border: #50FA7B;
    --output-border: #000000;
  }
  body.dark-theme {
    --text-color: #BD93F9;
    --bkg-color: #383A59;
    --nav-color: #282A36;
  }

#mycode { 
    position: absolute;
    top: 15rem;
    right: 50rem;
    bottom: 10rem;
    left: 10rem;
}
#code-output {
    display: flex;
    justify-content: flex-end;
    padding-right: 10rem;
}
#save-button {
    margin-right: 10px;
    margin-left: auto;
}
#big-output {
    justify-content: flex-end;
    border:1px solid var(--output-border);
    border-radius: 20px;
    width: 28rem;
    height: 25rem;
    text-align: center;
}
#mycode1 { 
    position: absolute;
    top: 40rem;
    right: 1rem;
    bottom: 1rem;
    left: 10rem;
}
#markdown-content {
    top: 1rem;
    right: 1rem;
    bottom: 2rem;
    left: 1rem;
}
body {
    background-color: var(--bkg-color);;
    color: var(--text-color);
    margin: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
h1 {
    color: var(--top-text-color);
    margin-top: 0px;
    text-align: center;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
pre {
    color: var(--text-color);
}
button {
    font-size: 16px;
    border: none;
    background-color: #8BE9FD;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    cursor:pointer;
  }

.button-screen-div {
    text-align: center;  

}

.other-button {
    color: black;
}
.button-screen {
    background-color: #48D06D;
    size: 30em;
}

iframe {
    width: 95em;
    height: 35em;
}

#scratch-button {
    font-size: 15px;
    padding: 7px 18px;
}
#scratch-h3 {
    font-size: 15px;
}

#parameters_div {
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid var(--parameter-border);
    background-color: var(--bkg-color);;
    position: absolute;
    z-index:1000;
    visibility: hidden; 
    display:inline;
    border-radius: 20px;
}

#parameters_button {
    display: inline-block;
    display: block;
    margin-left:  auto;
    margin-right: 0;
}

#cross_button {
    display: inline-block;
    display:      block;
    margin-left:  auto;
    margin-right: 0;
}

#home_link {
    color: var(--text-color);
}


nav {
    background-color: var(--nav-color);;
    height: 50px;
    margin: 0 0;
    padding: 0;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1),0 12px 64px 0 rgba(103,151,255,.1);
    position: fixed;
    width: 100%;
}

.nav_div_text {
    margin-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#account_link {
    color: var(--text-color);
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    text-align: right;

}

.div_account_link {
    display: flex;
    float: right;
}


#select_theme {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
}
  
#btn-toggle {
    margin-top: 3px;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: 3px solid var(--background-color);
  }

  #homepage-img {
      width: 65%;
      height: 65%;
      margin-left:10rem;
      
  }
  .img-text {
      display: flex;
      justify-content: flex-end;
      margin-top: 2em;

  }

  #text-next-img {
      margin-top: 13rem;
      margin-left: 8rem;
      color: var(--top-text-color);
      font-size: 5em;
      font-family: Bebas Neue;
  }

  #background-top {
    background-color: var(--backgroundTop-color);
  }


.text-homepage-titles {
    margin-top: 10rem;
    color: var(--text-color);
    font-size: 5em;
    font-family: Bebas Neue;
    text-align: center;
}

canvas {
    width: 70% !important; 
    height: 1% !important; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#ads-img {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    /*margin-left:10rem;*/
    position: relative;
    margin-right: 1rem;
    z-index:1;
}


@media screen and (max-width: 395px) {
    .ads-img {
        top: 200px;
	margin-right: 3px;
	margin-left: 1%;
    }
    #even-on-your-laptop {
        /*color:  #006600;*/
    }
    #text-next-img, #homepage-img {
        float: left;
        padding: 0;
        width: 84%;
        margin: 3%;
    }
    #no-ads-text {
        margin-left: 10%;
        margin-right: 1%;
    }
    #macbook-img {
        height: 75%;
        width: 75%;
    }
    #homepage-img {
      width: 50%;
      height: 50%;
      margin-left: 0.1rem;
      margin-right: 1rem;
  }
    
}


@keyframes no-ads {
    0% {
        opacity: 0;
        transform: translateX(-30rem) rotate(350deg);;
      }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }
}

#macbook-img {
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

#even-on-your-laptop {
    margin-bottom: 0.2em;
}

@media (prefers-reduced-motion: no-preference) {
    .ads-img-class {
        animation-name: no-ads;
        animation-duration: 2s;
        animation-delay: 0.0s;

    }
}

.img-text-ads {
    display: flex;
      justify-content: center;
      margin-top: 2em;
      margin-left: 0.5em;
}

#button-next-img {
    margin-top: 0.5rem;
    margin-left: 8rem;
}

.text-button {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
