#mycode { 
    position: absolute;
    top: 10rem;
    right: 10rem;
    bottom: 10rem;
    left: 10rem;
}

#markdown-content {
    top: 1rem;
    right: 1rem;
    bottom: 2rem;
    left: 1rem;
}
body {
    background-color: #383A59;
    color: #BD93F9;
}
h1 {
    color: #BD93F9;
    text-align: center;
}
pre {
    color: #BD93F9;
}
button {
    border: none;
    background-color: #8BE9FD;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
    cursor:pointer;
  }

.button-screen-div {
    text-align: center;  

}

.other-button {
    color: black;
}
.button-screen {
    background-color: #48D06D;
}

